{% extends 'phoenix/base.html' %}
{% load static %}

{% block body_block %}

<h3>Как заказать</h3>
<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 border"
    <p><strong>Наши профессиональные моделисты быстро и качественно соберут и покрасят вашу модель.</strong></p>
    <p class="text-dark">
В стоимость заказа включается: срочность выполнения заказа, модель, аксессуары для модели (если требуется), сборка, покраска, доставка по г. Москва.
Стоимость заказа - По договоренности (От 10 000 рублей). Срок изготовления - По договоренности (От 14 рабочих дней).
    </p>
    <p><strong>Порядок оформления, оплаты и получения заказа:</strong></p>
    <p class="text-dark">
      1. Заказ оформляется после вашей заявки, которую вы можете оставить по телефону или написав нам на E-mail адрес.<br>
      2. В заявке укажите: полное название модели, масштаб, тип покраски (это может быть камуфляж или просто какой-то цвет/цвета), срок изготовления, способ оплаты заказа (Способы оплаты заказа перечислены в разделе - "Оплата"), ваши контактные данные (Фамилия Имя Отчество, адрес доставки с индексом, E-mail адрес, телефон).<br>
      3. Произвести предоплату в размере 50% от стоимости заказа по счёту, который будет вам выставлен ( ВНИМАНИЕ! В случае отказа от услуги предоплата не возвращается, т.к. предоплата - это стоимость работы мастера и материалов ).<br>
      4. По истечению срока изготовления заказа - мы вышлем вам фотографии выполненной работы и будем ожидать подтверждения от Вас (Будете ли Вы покупать готовую модель или нет).<br>
      5.1. В случае покупки, произведите вторую часть оплаты (50%) от суммы заказа, и в течение 1-2 дней ваш заказ будет доставлена или отправлена по адресу доставки.<br>
      В готовый заказ будет входить: готовая модель, заводская коробка от модели (с запасными деталями, инструкцией и т.д.), товарно-кассовый чек с печатью об оплате.<br>
      5.2. В случае отказа от покупки ваша предоплата не будет возвращена и готовая модель будет выставлена на продажу в магазине.<br>
    </p>
    <p><small>
    В стоимость заказа включается: срочность выполнения заказа, модель, аксессуары для модели (если требуется), сборка, покраска, доставка по г. Москва.
    </small></p>
    <p>
      Телефон +79хх-ххх-хххх, <br />
      электронная почта: <a href="mailto:phoenix-design-studio@mail.ru?subject=Хочу заказать работу&body=Здравствуйте, я хочу заказать работу.">hobby-32@mail.ru</a>
    </p>
  </div>
</div><!--/row-->

{% endblock %}
